@*@page "/combatunit"

<PageTitle>Combat Unit</PageTitle>

@inject GetHostsService getHost
@inject GetCfgService getCfg
@inject PostHostsService postHost
@inject DeleteCfgService deletePort

<h1>Hosts</h1>
<button class="btn btn-primary" @onclick="Update">Update Hosts</button><b></b>
@if ( getHost.getHosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
//interfaces
<table class="table">
    <thead>
        <tr>
            <th>Mac</th>
            <th>Device Port</th>
            <th>Interface</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var host in getHost.hostsData.Hosts)
        {
            <tr>
                <td>@host.Mac</td>
                <td>@host.devicePort</td>
                <td>
                    <input type="text" @bind=""/>
                </td>
            </tr>
        }
    </tbody>
</table>

}
@code {
    private Dictionary<string, List<string>> branch{ get; set; } = new Dictionary<string, List<string>>();
    protected override async Task OnInitializedAsync()
    {
        getCfg.GetJson();
        getHost.getHosts();
        hostIface = getHost.MatchHostIface(hostIface,getHost.hostsData,getCfg.JsonData);
        getHost.hostsData.test = 2;
    }
    private void Update()
    {
        deletePort.DeletePort();
        postHost.PostPorts(hostIface);
        getHost.getHosts();
    }
}*@