@page "/"
@using Dynamic_Grouping.Data
@using Dynamic_Grouping.Data.Service
@inject GetCfgService getCfg
@inject GetHostsService getHosts
@inject SharedDataService shareData
@inject VlanOperation VO


<PageTitle>Index</PageTitle>
<head>
    Login with different roles.
</head>
<head>
    Where is the controller?
</head>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">IP</label>
    <div class="col-sm-10">
        <input type="text" @bind="@shareData.ip" />
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Port</label>
    <div class="col-sm-10">
        <input type="text" @bind="@shareData.porT" />
    </div>
</div>
<button type="submit" class="btn btn-primary" onclick="set">Submit</button>
@code {
    private void set()
    {
        getCfg.GetJson(shareData.ip,shareData.porT);
        getHosts.getHosts(shareData.ip, shareData.porT);
        shareData.vlanIfaces = VO.getVlanCfg(getHosts.hostsData,getCfg.JsonData,shareData.vlanIfaces,shareData.hostIface);
    }
}