@page "/ipconfig"

<PageTitle>IPconfig</PageTitle>

@using Dynamic_Grouping.Data
@inject SharedDataService shareData

<h1>控制器IP</h1>
<div class="row align-items-center">
    <label class="col-sm-1 col-form-label">IP</label>
    <div class="col-sm-2">
        <input type="text" @bind="@ip" class="form-control" />
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" @onclick="set">Submit</button>
    </div>
</div>
<div class="row align-items-center">
    <label class="col-sm-1 col-form-label">Status:</label>
    <div class="col-sm-2">
        <div>@shareData.Data</div>
    </div>
</div>

@code { 
    private string ip = "";
    private void set()
    {

        shareData.ip = ip;
        shareData.ipsubmit = true;
    }
    protected override async Task OnInitializedAsync()
    {
        //background
        await base.OnInitializedAsync();
        shareData.OnDataUpdated += UpdateUI;
        shareData.getCfgService.hostVlan = shareData.getCfgService.hostsData;

    }
    //background
    private async Task UpdateUI()
    {
        await InvokeAsync(StateHasChanged);
    }
    //background
    public void Dispose()
    {
        shareData.OnDataUpdated -= UpdateUI;
    }
}