<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dynamic-Grouping</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @*<AuthorizeView>*@
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="color: white;">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        @*</AuthorizeView>*@
       @* <AuthorizeView Roles="Subordinate, Commander, Admin">*@
            <NavLink class="nav-link" href="hosts" style="color: white;">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 通訊裝置
            </NavLink>
        @*</AuthorizeView>*@
        @*<AuthorizeView Roles="Commander, Admin">*@
            <NavLink class="nav-link" href="getconfig" style="color: white;">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 作戰編組
            </NavLink>
        @*</AuthorizeView>*@
        @*<AuthorizeView Roles="Admin">*@
            <NavLink class="nav-link" href="adminpage" style="color: white;">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 帳號管理
            </NavLink>
        @*</AuthorizeView>*@
        @*<AuthorizeView Roles="Admin" >*@
            <NavLink class="nav-link" href="ipconfig" style="color: white;">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 控制器位置
            </NavLink>
        @*</AuthorizeView>*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
